@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form1 {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form1 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #424949;
  width: 100%;
  border: 2px solid white;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form1 button:hover,.form button:active,.form button:focus {
  background: #AEB6BF;
}

body {
  background: #76b852;
  background: linear-gradient(to left, lightgrey, #515A5A);
  font-family: "Roboto", sans-serif;     
}
h1{
	text-align:center;
	color:white;
}
h3{
	text-align:center;
	color:white;
}
